@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weigh: 900;

    line-height: 3.6em;

    background-image: url("../images/background.png");
    padding-bottom: 100px;

}
.content{
    padding-top: 20px;
    max-width: 600px;
    margin: auto;
}

button:hover{
    background-color: orange;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
.container{
    border: 5px solid #4CAF50;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
}
.container div{
    margin: 10px;
    text-align: center;
    font-size: 2em;
    color: white;
}
.item1{
    background-color: blue;
}
.item2{
    background-color: red;
}
.item3{
    background-color: yellow;
}

.container-1{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap
}
.flex-box-container-1 div{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    align-items: center;
}

.container-2{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-2{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap
}
.flex-box-container-2 img{
    display: flex;
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    padding: 10px;
    align-items: center;
    margin: 10px;
}